
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Nav Bar
- Fixed and Scrolling Background
- Intro
- Select Box
- Logistics
- Registry Link
- Section
- Spaces
- Padding
- Anchors
*/


/* Nav Bar
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 400px){
    #navbar {
    display: block;
    position: fixed;
    background: rgba(245,245,245,0.9);
    width: 100%;
    z-index: 1000;
    height: 39px;
    text-align: center;
    }
}

#nav {
    display: inline;
    list-style: none;
    text-align: left;
    width: 380px;
}

#nav li {
    padding: 0.5em 0em 0.5em 0em;
    position:relative;
    display: inline-block;
}


#nav a {
    display: block;
    width: 90px;
    color: black;
    text-decoration: none;
    font-weight: 300;
    margin-left: 5px;
}

#nav a:hover {
    color: black;
    font-weight: 500;
}

#nav li ul {
    margin: 0;
    position: absolute;
    top: 39px;
    left: 0;
    list-style: none;
    display: none;
    width: 110px;
}

#nav li ul li{
    display: block;
    padding: 0;
    background: rgba(245,245,245,0.9);
    margin-bottom: 1px;
    margin-top: 1px;
}

#nav li:hover ul {
    display: block;
    background: rgba(245,245,245,0);
}

/* Fixed and Scrolling Background
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body, html, main {
    /* important */
    height: 100%;
}

.cd-fixed-bg {
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-attachment: fixed;*/

}

@media (min-width: 750px) {
    .cd-fixed-bg{
        background-attachment: fixed;
    }
}

.cd-fixed-bg.cd-bg-2 {
    background-image: url("../images/registryWC.JPG");
}

.cd-fixed-bg.cd-bg-1 {
    background-image: url("../images/BigSur2.jpeg");
}

.cd-scrolling-bg {
    min-height: 100%;
}

.cd-color-1 {
    background-color: rgb(241,234,229);
}


/* Intro
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
#intro {
    text-align: center;
    text-shadow:0 1px 0 black;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-60%);
    -moz-transform: translateX(-50%) translateY(-60%);
    -ms-transform: translateX(-50%) translateY(-60%);
    -o-transform: translateX(-50%) translateY(-60%);
    transform: translateX(-50%) translateY(-60%);
    width: 90%;
    max-width: 1170px;
}

/* Select Box
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.flat-select{
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-repeat:no-repeat;
    background-position: right 10px top 10px;
    background-size: 16px 16px;
    -webkit-appearance: none;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -ms-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
}

/* Logistics
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
#big-day-bg {
    background-color: rgb(230,230,230) ;
    padding: 2.5%;
}

#big-day-cont {
    max-width: 100%;
    width: 100%;
}

#big-day-cont img{
    width: 100%;
    max-width: 350px;
}


.white {
    background-color: white;
    border-radius: 5px;
}

.white-padding {
    padding: 2% 4% 4% 4%;
}


/* For devices larger than 550px */
@media (min-width: 550px) {
    .vcenter-parent {
        display: table;
        margin: auto;
    }
    .vcenter-child {
        display: table-cell;
        vertical-align: middle;
        float: none;
        text-align: center;
    }
}

#hotel-note {
    color: rgb(100,100,100);
}

/* Explore
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.explore a {
    color: black;
    text-decoration: none;
    font-weight: 300;
}

.explore a:hover {
    color: rgb(96,96,96);
}

.explore-img {
    background-repeat: no-repeat;
    background-position: left; 
    background-size: auto 100% ;
    height: 300px;
}

@media (min-width: 550px){
    .explore-img {
        margin-left: 3%;
        margin-right: 3%;
    }
}

#julia-pfeiffer {
    background-image: url("../images/JuliaPfeiffer.jpg");
    background-position: left; 
}

#carmel {
    background-image: url("../images/carmel.jpg");
    background-position: center; 
}

#bixby {
    background-image: url("../images/bixby.jpg");
    background-position: center; 
}

#santalucia {
    background-image: url("../images/santalucia.jpg");
    background-position: center; 
}

.explore-top-padding {
        padding: 50px 0px 0px 0px;
    }

@media (min-width: 550px){
    .explore-top-padding {
        padding: 0px 0px 0px 0px;
    }
}

/* Registry Link
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
#registry-link {
    display: block;
}

#registry-link img {
    padding: 50px;
    margin-top: 30px;
}

/* Sections
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    text-align: center;
}

/* Spaces
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.big-space {
    height: 100px;
}

.small-space {
    height: 20px;
}

/* Padding
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.big-padding {
    padding: 80px 0px 80px 0px;
}

.small-padding {
    padding: 20px 0px 20px 0px;
}


/* Anchors
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
a.anchor {
    display: block;
    position: relative;
    top: -39px;
    visibility: hidden;
}
